---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";
import Html from "../layouts/Html.astro";
import Footer from "../components/Footer.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<Html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="flex justify-center">
      <section class="my-4 flex max-w-7xl flex-wrap justify-center gap-4">
        {
          posts.map((post) => (
            <a
              class="card bg-base-100 custom-masonry-item w-sm shadow-sm"
              href={`/blog/${post.id}/`}
            >
              <figure>
                <img
                  class="h-64 w-sm object-cover"
                  src={post.data.heroImage}
                  alt={`${post.data.title} Hero Image`}
                />
              </figure>
              <div class="card-body">
                <FormattedDate date={post.data.pubDate} />
                <h2 class="card-title">{post.data.title}</h2>
              </div>
            </a>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</Html>
