---
interface Props {
  title: string;
}
const { title } = Astro.props;

import RedditIcon from "./svg/mdi--reddit.svg";
import LinkedInIcon from "./svg/mdi--linkedin.svg";
import TwitterIcon from "./svg/fa6-brands--square-x-twitter.svg";
import HackerNewsIcon from "./svg/simple-icons--ycombinator.svg";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<div
  class="inline-flex items-center gap-3 rounded-full bg-white/5 py-4 pr-4 pl-6"
>
  <div class="text-sm text-white">Share article</div>
  <a
    href={`https://twitter.com/intent/tweet?text=${title} by @GebnaTorky&url=${canonicalURL}`}
    target="_blank"
    rel="noreferrer noopener"
    class="flex h-8 w-8 items-center justify-center rounded-full text-white transition-colors hover:text-black"
    data-umami-event="Twitter Share"
  >
    <TwitterIcon />
    <span class="sr-only">Twitter / X</span>
  </a>
  <a
    href={`https://news.ycombinator.com/submitlink?u=${canonicalURL}&t=${title}`}
    target="_blank"
    rel="noreferrer noopener"
    class="flex h-8 w-8 items-center justify-center rounded-full text-white transition-colors hover:text-black"
    data-umami-event="HackerNews Share"
  >
    <HackerNewsIcon class="size-[22px] rounded-sm" />
    <span class="sr-only">Hacker News</span>
  </a>
  <a
    href={`https://www.linkedin.com/shareArticle?mini=true&url=${canonicalURL}`}
    target="_blank"
    rel="noreferrer noopener"
    class="flex h-8 w-8 items-center justify-center rounded-full text-white transition-colors hover:text-black"
    data-umami-event="LinkedIn Share"
  >
    <LinkedInIcon class="size-7" />
    <span class="sr-only">LinkedIn</span>
  </a>
  <a
    href={`https://www.reddit.com/submit?url=${canonicalURL}&type=LINK&title=${title}`}
    target="_blank"
    rel="noreferrer noopener"
    class="flex h-8 w-8 items-center justify-center rounded-full text-white transition-colors hover:text-black"
    data-umami-event="Reddit Share"
  >
    <RedditIcon class="size-7" />
    <span class="sr-only">Reddit</span>
  </a>
</div>
