---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import ShareMenu from "../components/ShareMenu.astro";
import Html from "./Html.astro";

type Props = CollectionEntry<"blog">["data"] & { id: string };

const {
  title,
  description,
  pubDate,
  heroImage,
  // id
} = Astro.props;

// const website_id = 1;
// const callbackURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<Html>
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <!-- <script is:inline>
      window.addEventListener("message", function (event) {
        if (event.data.type === "resize" && event.data.height) {
          const iframe = document.getElementById("comments");
          iframe.style.height = event.data.height + "px";
        }
      });
    </script> -->
  </head>

  <body>
    <Header />
    <main data-pagefind-body class="min-h-[calc(100vh-284px)]">
      <article class="prose prose-lg mx-auto p-4">
        <h1>
          {title}
        </h1>
        <h4>Written by <a href="/whoami">Bahaa Zidan</a></h4>
        <h4><FormattedDate date={pubDate} /></h4>
        <div class="divider"></div>
        <slot />
      </article>
    </main>

    <footer class="mb-3 flex w-full flex-col items-center gap-1 px-1">
      <!-- <iframe
        id="comments"
        src={`http://localhost:5173/embeds/${website_id}/${id}/comments?name=${title}&url=${callbackURL}`}
        class="w-full max-w-[55rem]"
      >
      </iframe> -->
      <ShareMenu title={title} />
      <div class="text-2xl font-bold">Thank you for reading!</div>
      <div>
        For any questions or comments, feel free to <a
          href="/whoami"
          class="link"
          data-umami-event="Contact Me Link"
        >
          contact me
        </a>
      </div>
      <div>
        Add <a href="/rss.xml" class="link" data-umami-event="RSS Link">
          my blog's rss
        </a>
        to your feed
      </div>
      <div>
        <a href="/support" class="link" data-umami-event="Buy Me A Coffee Link">
          Buy me a coffee
        </a>
      </div>
      <p>🍉</p>
    </footer>
  </body>
</Html>
