---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Html from "./Html.astro";
import { ShareIcon, CoffeeIcon, LinkedinIcon, LinkIcon } from "@lucide/astro";
import { siX, siReddit, siYcombinator, siBluesky } from "simple-icons";
import BrandIcon from "../components/BrandIcon.astro";
import Footer from "../components/Footer.astro";

type Props = { post: CollectionEntry<"blog"> };

const {
  post: {
    id,
    data: { title, pubDate, description },
  },
} = Astro.props;

// const website_id = 1;
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<Html>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={`/content/${id}/og.jpg`}
    />
    <!-- <script is:inline>
      window.addEventListener("message", function (event) {
        if (event.data.type === "resize" && event.data.height) {
          const iframe = document.getElementById("comments");
          iframe.style.height = event.data.height + "px";
        }
      });
    </script> -->
  </head>

  <body>
    <Header />
    <main data-pagefind-body>
      <article class="prose prose-lg mx-auto p-4">
        <div class="flex flex-col items-center">
          <FormattedDate date={pubDate} />
          <h1>
            {title}
          </h1>
          <img
            src={`/content/${id}/hero.webp`}
            class="max-h-96 w-full max-w-xl object-cover"
          />
        </div>
        <div class="divider"></div>
        <slot />
        <div data-pagefind-ignore class="not-prose flex w-full justify-between">
          <div class="dropdown dropdown-top">
            <div tabindex="0" role="button" class="btn btn-primary">
              <ShareIcon /> Share
            </div>
            <ul
              tabindex="0"
              class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
            >
              <li>
                <button
                  onclick="navigator.clipboard.writeText(window.location.href);document.activeElement.blur();"
                  data-umami-event="Share"
                  data-umami-event-target="Copy Link"
                >
                  <LinkIcon />
                  Copy Link
                </button>
              </li>
              <div class="divider m-0"></div>
              <li>
                <a
                  href={`https://www.reddit.com/submit?url=${canonicalURL}&type=LINK&title=${title}`}
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event="Share"
                  data-umami-event-target="Reddit"
                >
                  <BrandIcon icon={siReddit} />
                  Reddit
                </a>
              </li>
              <li>
                <a
                  href={`https://news.ycombinator.com/submitlink?u=${canonicalURL}&t=${title}`}
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event="Share"
                  data-umami-event-target="Hacker News"
                >
                  <BrandIcon icon={siYcombinator} />
                  Hacker News
                </a>
              </li>
              <li>
                <a
                  href={`https://bsky.app/intent/compose?text=${title} by @gebna.bsky.social ${canonicalURL}`}
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event="Share"
                  data-umami-event-target="Bluesky"
                >
                  <BrandIcon icon={siBluesky} />
                  Bluesky
                </a>
              </li>
              <li>
                <a
                  href={`https://twitter.com/intent/tweet?text=${title} by @GebnaTorky&url=${canonicalURL}`}
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event="Share"
                  data-umami-event-target="Twitter"
                >
                  <BrandIcon icon={siX} />
                  Twitter
                </a>
              </li>
              <li>
                <a
                  href={`https://www.linkedin.com/shareArticle?mini=true&url=${canonicalURL}`}
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event="Share"
                  data-umami-event-target="LinkedIn"
                >
                  <LinkedinIcon />
                  LinkedIn
                </a>
              </li>
            </ul>
          </div>
          <a
            class="btn btn-secondary"
            href="/support"
            target="_blank"
            data-umami-event="Coffee Link"
          >
            <CoffeeIcon /> Buy me a coffee
          </a>
        </div>
      </article>
    </main>

    <Footer />
  </body>
</Html>

<!-- <iframe
        id="comments"
        src={`http://localhost:5173/embeds/${website_id}/${id}/comments?name=${title}&url=${canonicalURL}`}
        class="w-full max-w-[55rem]"
      >
      </iframe> -->
