---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import ShareMenu from "../components/ShareMenu.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main data-pagefind-body>
      <article class="prose prose-lg mx-auto p-4">
        <h1>
          {title}
        </h1>
        <h4>Written by <a href="/whoami">Bahaa Zidan</a></h4>
        <h4><FormattedDate date={pubDate} /></h4>
        <div class="divider"></div>
        <slot />
      </article>
    </main>

    <footer class="mb-3 flex w-full flex-col items-center gap-1 px-1">
      <ShareMenu title={title} />
      <h1 class="text-2xl font-bold">Thank you for reading!</h1>
      <div>
        For any questions or comments, feel free to <a
          href="/whoami"
          class="link"
        >
          contact me
        </a>
      </div>
      <div>
        Add <a href="/rss.xml" class="link">my blog's rss</a>
        to your feed
      </div>
      <div><a href="/support" class="link">Buy me a coffee</a></div>
      <p>🍉</p>
    </footer>

    <script>
      let copyButtonLabel = "Copy";
      let pre_blocks = Array.from(document.querySelectorAll("pre"));

      for (let pre of pre_blocks) {
        let wrapper = document.createElement("div");
        wrapper.style.position = "relative";

        let copyButton = document.createElement("button");
        copyButton.className = "btn btn-secondary absolute right-0 top-0";
        copyButton.innerHTML = copyButtonLabel;

        pre.setAttribute("tabindex", "0");
        pre.appendChild(copyButton);
        // wrap codebock with relative parent element
        pre.parentNode?.insertBefore(wrapper, pre);
        wrapper.appendChild(pre);

        copyButton.addEventListener("click", async () => {
          await copyCode(pre, copyButton);
        });
      }

      async function copyCode(
        block: HTMLPreElement,
        button: HTMLButtonElement,
      ) {
        let code = block.querySelector("code");
        let text = code?.innerText || block.firstChild?.nodeValue;
        if (!text) return;

        await navigator.clipboard.writeText(text);

        // visual feedback that task is completed
        button.innerText = "Copied";

        setTimeout(() => {
          button.innerText = copyButtonLabel;
        }, 1000);
      }
    </script>
  </body>
</html>
